.home {
  justify-content: center;
  .encabezado {
    align-items: center;
    align-self: center;
    border: 2px black;
    border-radius: 25px;
    picture > img {
      max-width: 1240px;
      width: 90vw;
      height: 600px;
      object-fit: contain;
    }
  }
}
