.card {
  min-height: 237px;
}
#cardApunte {
  margin-top: 3%;
  border: 2px black solid;
  max-width: 800px;
  border-radius: 15px;
  img {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  #cardApunte {
    display: flex !important;
    flex-direction: column !important;
  }
}
