footer {
  background-color: $colorFooter !important;
  text-align: center;
  color: $colorBlanco !important;
  position: relative !important;
  width: 100vw !important;
  overflow-x: hidden;
  bottom: 0;
  p {
    width: 30% !important;
  }
}
