@import "../BOOTSTRAP/node_modules/bootstrap/scss/bootstrap.scss";
@import "colores";
@import "navbar";
@import "footer";
@import "card";

* {
  margin: 0;
  padding: 0;
}
.contenedorPrincipal {
  margin-bottom: 100px;
}
