@use "./colores";
/*CARD DE MAPA*/
.cardUbicacion {
  .card {
    background-color: $color-primary-1;
    padding: 3%;
    border-radius: 5%;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    .cardHeader {
      iframe {
        border-radius: 5%;
        width: 40em;
        height: 20em;
        border: 0;
      }
    }
    .cardBody {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.contenedorMenus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-complement-secondary-0;
}

.cardMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 3%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 5%;
  padding-right: 2%;

  &:hover {
    transform: scale(1.05);
  }

  .divPlatos {
    padding: 3%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    header {
      font-size: 1.5em;
      font-weight: bold;
      color: $color-complement-1;
      background-color: $color-primary-3;
      display: flex;
      align-items: center;
    }

    .primeros,
    .segundos,
    .postres {
      display: flex;
      flex-direction: column;
      background-color: $color-primary-1;
    }
  }

  figure {
    margin-top: 3%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    img {
      width: 100%;
      height: auto;
      border-radius: 5%;
    }

    figcaption {
      text-align: center;
      margin-top: 2%;
    }
  }
}

@media screen and (max-width: 768px) {
  .cardContainer {
    .card {
      width: 100%;
      .cardHeader {
        iframe {
          border-radius: 5%;
          width: 100%;
          height: 10em;
          border: 0;
        }
      }
      .cardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
