//Definicion de la variable que actuara como limite entre version movil y version escritorio
$tamanoTablet: 768px;
$tamanoMovil: 425px;

// Definición de variables para los colores primarios
$color-primary-0: #044870;
$color-primary-1: #0d6aa1;
$color-primary-2: #065482;
$color-primary-3: #023654;
$color-primary-4: #012337;

// Definición de variables para los colores complementarios
$color-complement-0: #af6000;
$color-complement-1: #fd8e07;
$color-complement-2: #562f00;

// Definición de variable para el color complementario secundario
$color-complement-secondary-0: #a09e9e;
