@import "./colores";
@import "./fuentes";
@import "./card";
@import "./nav";
@import "./imagen";
@import "./botones";

h1 {

  @include titulos(40px);
}
h2 {
  @include titulos(32px);
}
h3 {
  @include titulos(24px);
}
p {
  @include texto();
}
a {
  @include titulos(32px);
  @include navBoton();
}
* {
  margin: 0;
  padding: 0;
}
.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}


